/* Header */
header{
    border-bottom: 1px solid #e5e6e9a8;
}
header .row{
    padding-left: 9rem;
    padding-right: 9rem;
}
header .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 9%;
    height: 100%;
    padding-top: 0.5rem;
}
.logo img{
    width: 100%;
    height: 100%;
}
.header-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem;
}
.header-nav a{
    font-size: 0.7rem;
    font-weight:600;
    color: #727272;
}
.header-nav .header-nav-mobile{
    color: #639998;
    font-weight: bold;
}
.header-nav li {
    padding-left: 1.2rem;
}
.header-nav .fas{
    padding-left: 0.5rem;
}
.header-nav .fa-mobile-alt{
    padding-right: 0.5rem;
}
/* Navbar */
.navbar-category{
    padding-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}
.navbar-category a{
    text-decoration: none;
    color: #3a3a3a;
}
.navbar-category a:hover{
    color: #26BEC9;
}
.navbar-category .ticket{
    font-size: 0.7rem;
    font-weight:600;
}
.navbar-category-item{
    font-size: 0.7rem;
    font-weight:600;
    margin-left: 0.8rem;
    padding-left: 0.8rem;
    border-left: 1px solid #e5e6e9a8;
}
/* Banner */
.banner{
    width: 100%;
    min-height: 300px;
    background-image: url("/imgs/4.jpg");
    opacity: 0.9;
    background-position: 80% 70%;
    background-size: cover;
    margin-bottom: 1rem;
}
.cover{
    width: 100%;
    background-color:rgba(99, 153, 151, 0.493);
}
.search-area{
    padding: 5rem 22rem;
    text-align: center;
}
.slogan{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-shadow: 5px 5px 10px gray;
}
.description{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-shadow: 5px 5px 10px gray;
}
.searchbar{
    display: flex;
}
.btn{
    background-color: #26BEC9;
    color:white;
    width: 10%;
}
input{
    border: none;
    width: 28rem;
    height: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 0.5rem;
}
input::-webkit-input-placeholder{
    font-size: 0.7rem;
    font-weight: 600;
    color: #727272;
}
.btn{
    width: 3.5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 0.3rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #2b8392;
    color:white;
}
/* 熱門活動分類 */
.category-card{
    width: 9rem;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(221, 218, 218, 0.685);
    margin-right: 0.7rem;
}
.category-card img{
    width: 100%;
    height: 70%;
    object-fit: fill;
    transition: 0.3s;
}
.category-card-title{
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    padding: 0.5rem 0.8rem;
}
.category-card:hover img{
    opacity: 0.8;
}
.hot-activity-category-card-carousel{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    height: 200px;
}
/* 最新旅遊優惠 */
.latest-discount-card{
    width: 18.5rem;
    height: 170px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(221, 218, 218, 0.685);
    margin-right: 0.9rem;
}
.latest-discount-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latest-discount-carousel{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    height: 200px;
}
/* Top 10熱門商品 */
.top-10-product-label{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 45%;
}
.top-10-product-label img{
    width: 100%;
    object-fit: cover;
}
.label-number{
    position: absolute;
    top: 15%;
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
}
.top-10-product-carousel{
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    height: 350px;
}